body {
  font-family: Tahoma, sans-serif;
}

.container {
  text-align: center;
}

.container-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container-body {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.section-table {
  width: 100%;
  border: 0px solid black;
  padding:3px;
}

th.section-table {
   background-color: #282c34;
   color:white;
}
